<%# <section class="header"> %>
  <%# <nav> %>
    <%# <ul> %>
      <%# <% if current_user %> 
        <%# <%= link_to "create Event", new_event_path %>
        <%# <%= link_to "logout", destroy_user_session_path, method: :delete %>
      <%# <% else %>
        <%# <%= link_to "login", user_session_path %>
      <%# <% end %>
    <%# </ul> %>
  <%# </nav> %>
<%# </section> %>
